section
  padding: 30px 20px
  min-height: 100vh
  background: url('/assets/img/bg-6.jpg')
  background-position: center
  background-size: cover
  color: white
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  p
    z-index: 2
    padding: 10px
    display: table
    font-size: 20px
    max-width: 900px
    position relative
    font-weight: bold
    border-radius: 10px
    margin: 0 auto -1em
    background-color: rgba(0,0,0,0.8)
    text-shadow: 2px 2px 1px black

  video
    max-width: 900px
    width: 100%
    border: solid 3px white

  div
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: -25px
    max-width: 900px
    width: 100%
    position: relative
    z-index: 2

    a
      display: inline-table
      background: #307cbf
      border: solid 2px white
      font-weight: 900
      text-transform: uppercase
      font-size: 18px
      -webkit-text-stroke: 1px
      color: #0d1f31
      padding: 5px 30px
      border-radius: 5px
      margin: 0 20px
      transition: .5s

      &:hover
        transform: scale(1.1)
        color: #307cbf
        background: #0d1f31

