#start
  display: flex
  flex-direction: column
  padding: 40px
  align-items: center
  justify-content: space-between
  min-height: 100vh
  background: url('/assets/img/bg-1.jpg')
  background-position: center
  background-size: cover

  h1
    max-width: 430px

  a
    display: inline-table
    background: #307cbf
    border: solid 5px #0d1f31
    font-weight: 900
    text-transform: uppercase
    font-size: 25px
    -webkit-text-stroke: 1px
    color: #0d1f31
    padding: 10px 30px
    border-radius: 10px
    margin: 0 10px
    transition: .5s

    &:hover
      transform: scale(1.1)
      color: #307cbf
      background: #0d1f31
