<section id="cartas">
  <p>30 cartas estão sendo preenchido aleatóriamente</p>
  <p>Ecolha 3 cartas</p>
  <div id="baralho">
    <ng-container *ngFor="let carta of motor.baralhoAtual; let i=index">
      <input id="carta-{{i}}" type="checkbox" disabled (change)="selctCarta(i)" >
      <label for="carta-{{i}}" [ngStyle]="{'animation-delay': (0.15*i)+'s'}">
        <img src="/assets/img/baralho/capa.jpg" alt="Capa Carta" />
        <img src="/assets/img/baralho/all.gif" alt="Animação Aleatório"  [ngStyle]="{'animation-delay': ((0.15*i)+0.15)+'s'}" />
      </label>
    </ng-container>
  </div>
</section>
